.container {
  display: grid;
  grid-template-columns: repeat(19, 73px);
  grid-template-rows: repeat(10, 73px);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.item {
  border: 1px solid red;
  font-weight: 600;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

.item .atomicNumber {
  font-size: 0.6em;
  text-align: left;
  padding-left: 4px;
}

.item .elementSym{
    margin: 0;
    padding: 0;
}

.item .elementName {
  font-size: 0.4em;
  font-family: "Poppins", sans-serif;

}
